# Ignore everything
*

# But not these files...
!.gitignore
!bipartite-1-layout-1.json
!bipartite-1-layout-2.json
!bipartite-2.json
!bipartite-3.json
!kpartite-1.json
!heterogeneous.json
!many-to-many.json
!one-to-one.json
